body {
    padding-top: 70px;
    padding-bottom: 85px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #a7b3d3;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f8702f;
    text-shadow: none;
}

#header {
    background-color: #03072d;
}

.col-sm-2 {
    align-items: center;
}

.col-sm-3 {
    align-items: center;
}

.panel-body {
    vertical-align: middle;
    height: 220px;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    box-shadow: none;
}

#body .row {
    margin-right: 40px;
    margin-left: 40px;
}

.panel-body a {
    vertical-align: middle;
    text-align: center;
    align-content: center;
    align-items: center;
    alignment: center;
}

img {
    vertical-align: middle;
}

.img-responsive {
    vertical-align: middle;
    width: 150px;
    max-height: 220px;
    margin-left: auto;
    margin-right: auto;
}

.panel-footer {
    background-color: transparent;
    text-align: center;
    border: 0;
}

.panel-primary {
    vertical-align: middle;
    height: 250px;
    position: relative;
    border: 0;
    box-shadow: none;
    margin: 0;
}

.panel {
    margin-left: auto;
    margin-right: auto;
}

#footer .container-fluid {
    background-color: #161f2c;;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#footer .navbar-default .navbar-nav > li > a:hover {
    color: #d30000;
}

#footer
.navbar-right {
    float: left;
}


.navbar-default  {
    border: none;
    margin-bottom: 0;
}

#footer {
    background-color: black;
}

#footer .col-md-5 {
    text-align: left;
}

/*---*/

.btn-danger {
    background: #f8673e;
    border: 2px solid #f8673e;
}

.btn-danger:hover {
    background: #1c8e47;
    border: 2px solid #1c8e47;
}

* {
    border-radius: 0 !important;
}

#footer p {
    color: #d1d1d1;
    border: none;
    text-shadow: none;
    margin-top: 5px;
    font-size: 12px;
}

.btn-warning {
    margin-top: 10px;
    width: 120px;
    color: #fff;
    background-color: #dab144;
    border-color: #eea236;
}

label .col-sm-2 .control-label {
    padding-right: 15px;
}
label .col-sm-10 {
    padding: 0;
    font-style: normal;
}

.jumbotron {
    padding-top: 20px
}